<a href="https://colab.research.google.com/github/HanifAmeen/SE-44-Dermorax/blob/ML-Model---InceptionResNet-V2%2BSoft-Attention/SDGP_CNN_Model_IRV2%2BSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imports

In [3]:
#mounting the drive 
from google.colab import drive
drive.mount('/content/drive')
print("done")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
done

In [33]:
import pandas as pd
import numpy as np
import os
import tensorflow as tf
from glob import glob
import shutil

from PIL import ImageFile

Initializing the dataset

In [5]:
data_pd = pd.read_csv('/content/drive/MyDrive/Dataset/HAM10000_metadata')
data_pd.head()

     lesion_id      image_id   dx  ...   sex  localization       dataset
0  HAM_0000118  ISIC_0027419  bkl  ...  male         scalp  vidir_modern
1  HAM_0000118  ISIC_0025030  bkl  ...  male         scalp  vidir_modern
2  HAM_0002730  ISIC_0026769  bkl  ...  male         scalp  vidir_modern
3  HAM_0002730  ISIC_0025661  bkl  ...  male         scalp  vidir_modern
4  HAM_0001466  ISIC_0031633  bkl  ...  male           ear  vidir_modern

[5 rows x 8 columns]

In [29]:
def count_images_on_type(series):
    display(pd.DataFrame(series.value_counts()))

class_list = ['akiec','bcc','bkl','df','mel','nv','vasc']
count_images_on_type(data_pd['dx'])

         dx
nv     6705
mel    1113
bkl    1099
bcc     514
akiec   327
vasc    142
df      115

In [13]:
train_dir = os.path.join('HAM10000', 'train_dir')

test_dir = os.path.join('HAM10000', 'test_dir')

In [24]:
#making the directories to store test and train data
os.mkdir('/content/drive/MyDrive/Dataset/HAM10000/train_dir')
os.mkdir('/content/drive/MyDrive/Dataset/HAM10000/test_dir')

In [26]:
targetnames = ['akiec', 'bcc', 'bkl', 'df', 'mel', 'nv', 'vasc']

In [30]:
df_count = data_pd.groupby('lesion_id').count()
df_count.head()

             image_id  dx  dx_type  age  sex  localization  dataset
lesion_id
HAM_0000000         2   2        2    2    2             2        2
HAM_0000001         1   1        1    1    1             1        1
HAM_0000002         3   3        3    3    3             3        3
HAM_0000003         1   1        1    1    1             1        1
HAM_0000004         1   1        1    1    1             1        1

In [32]:
df_count = df_count[df_count['dx'] == 1]
df_count.reset_index(inplace=True)
df_count.head()

   index    lesion_id  image_id  dx  dx_type  age  sex  localization  dataset
0      0  HAM_0000001         1   1        1    1    1             1        1
1      1  HAM_0000003         1   1        1    1    1             1        1
2      2  HAM_0000004         1   1        1    1    1             1        1
3      3  HAM_0000007         1   1        1    1    1             1        1
4      4  HAM_0000008         1   1        1    1    1             1        1

Model